<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commongoodfinance.android.pos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:icon="@drawable/rlogo_icon"
        android:label="@string/app_name"
         android:name=".RCreditPOS" >

        <activity
            android:name=".IdleActivity"
            android:label="@string/app_name" >
 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScannerActivity"
            android:label="@string/app_name" />
        <!-- 
            android:theme="@style/Theme.NoBackground" />
 -->
 
        <activity
            android:name=".PricingActivity"
            android:label="@string/app_name" />
    </application>

</manifest>